.homework3-container:nth-child(2) {
    background-color: blue;
    width: 200px;
    height: 200px;
    left: 620px;
    position: absolute;
    top: 112px;
    z-index: 2;
}
.homework3-container:nth-child(1) {
    background-color: red;
    width: 200px;
    height: 200px;
    left: 500px;
    position: absolute;
}
.homework3-container:nth-child(3) {
    background-color: rgb(38, 186, 46);
    width: 200px;
    height: 200px;
    left: 740px;
    position: absolute;
    top:224px;
}
.homework3 {
    position: relative;
}